@import url("https://use.typekit.net/jmk3xov.css");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 20px;
}

.intro {
  display: flex;
  align-items: center;
}

.intro img {
  height: 150px;
  border-radius: 20px;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 20px;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 2.5rem;
  display: block;
  line-height: 1;
  margin: 0;
  padding: 15px;
}

.top-text {
  border-radius: 20px 20px 0px 0px;
}

.bottom-text {
  border-radius: 0px 0px 20px 20px;
}

.left {
  grid-column: 6 / 12;
}

section a {
  color: #ffffff;
}

blockquote a {
  color: #000000;
  text-decoration: none;
  font-size: 2rem;
}

.spacer {
  display: none
}

@media only screen and (max-width: 480px) {
  html {
    height: calc(100% + 60px);
    min-height: calc(100% + 60px);
  }

  canvas {
    height: calc(100% + 60px);
    min-height: calc(100% + 60px);
  }

  .left {
    grid-column: 2/12;
  }

  .right {
    grid-column: 2/12;
  }

  section {
    grid-column: 2/12 !important;
  }

  blockquote {
    grid-column: 2/12;
  }

  blockquote p {
    font-size: 1.5rem;
    padding: 8px;
  }

  .separator {
    display: none
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --spacing: 100px;
  }

  header {
    font-size: 1.5rem;
    width: 100%;
  }

  blockquote p {
    font-size: 2rem;
  }

  .social {
    font-size: 1.5rem;
    display: block;
    margin-top: 20px
  }

  section {
    grid-column: 2/11;
  }
}

@media (max-width: 768px) {
  blockquote p {
    font-size: 1.5rem;
    padding: 20px;
  }

  .separator {
    display: none
  }
}